body {
  //padding-top: 3em;
}

nav.transparent {
  background-color: transparent;
  box-shadow: none;
  height: 5em;
}



.header {
  padding-top: 3em;
  background-size: cover;
  //color: #dddddd;
  background: url('../img/header.jpg') no-repeat center center fixed !important;
}
